__pycache__/
*.egg-info/

.venv

.mypy_cache/
.pytest_cache/
.ruff_cache

.DS_Store

*.profraw
*.profdata
*.dSYM

tests/calc/build/
tests/calc/coverage/
tests/calc/merge_coverage/
tests/calc/calc
tests/calc/exports