name: CI

on:
  push:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    steps:
      - uses: ./.github/workflows/setup
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests
        run: pytest


  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/workflows/setup
        with:
          python-version: "3.12"

      - name: Run ruff check
        run: ruff check .
  
  mypy:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    steps:
      - uses: ./.github/workflows/setup
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run mypy
        run: mypy --strict .